* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}


.side_bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create-chat a {
  color: deepskyblue;
  font-size: 10px;
  border: 1px solid lightblue;
  text-decoration: none;
  padding: 14px;

}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;


}

.room {
  padding: 20px 0 40px;

}



.chatroom a {
  text-decoration: none;
  color: white;
}



.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;



}


.chat-header {
  height: 100px;
  padding: 0 40px;
  justify-content: space-between;
  display: flex;
}

.roomname {
  color: #333;
  font-size: 24px;
  padding-top: 36px;

}

.chatend{
  margin-top: 40px;

}


.chatend a {
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
  text-decoration: none;
}




.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}